.toolbar {
  background-color: #03509c;
  color: white;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.form-control {
  width: 330px;
  margin-left: 5px;
}

.btn {
  margin-left: 19px;
}
