<h1>{{ firstName + " " + lastName }}</h1>

<div>{{ num1 }} + {{ num2 }} = {{ num1 + num2 }}</div>

<div>
  Using Interpolation
  <div>Name: {{ trainingName }} Training Age: {{ trainingDuration }}</div>
</div>

<div>
  Using Interpolation only once
  <div>
    {{ "Name: " + trainingName + " Training Age: " + trainingDuration }}
  </div>
</div>

<div class="container">
  <img [src]="logo" />

  <a role="button" class="btn btn-primary" [href]="google" *ngIf="true">
    Go to Google
  </a>

  <button
    type="button"
    class="btn btn-success"
    [disabled]="button"
    (click)="sayHello()"
  >
    Click Me
  </button>

  <input
    type="text"
    class="form-control"
    placeholder="Your Name Here .."
    (change)="log($event)"
  />
</div>

<div class="container">
  <br />
  <br />
  <label for="name"> First Name </label>
  <input
    type="text"
    class="form-control"
    required
    name="name"
    [value]="placeholder"
  />
  <button type="button" class="btn btn-success" (click)="change()">
    Submit
  </button>
</div>

<br />
<br />
<br />
<br />
<div class="container">
  <input
    type="text"
    class="form-control"
    placeholder="Your Name Here .."
    [(ngModel)]="name"
  />

  <h1>{{ name }}</h1>
</div>

<br />
<br />
<br />
<div class="container">
  <div class="toolbar">
    <input
      type="number"
      class="form-control"
      placeholder="First Number .."
      [(ngModel)]="num1"
    />
    <input
      type="number"
      class="form-control"
      placeholder="Second Number .."
      [(ngModel)]="num2"
    />
  </div>
  <div class="toolbar">
    <input
      type="number"
      class="form-control"
      placeholder="Sum.."
      [(ngModel)]="sum1"
    />
    <button type="button" class="btn btn-secondary" (click)="clear()">
      Clear
    </button>
    <button type="button" class="btn btn-success" (click)="add()">Add</button>
  </div>
</div>

<br />
<div class="container">
  <label for="number"> This form does not require any add button </label>
</div>
<br />

<div class="container">
  <div class="toolbar">
    <input
      type="number"
      class="form-control"
      placeholder="First Number .."
      [(ngModel)]="num3"
      (input)="add2()"
    />
    <input
      type="number"
      class="form-control"
      placeholder="Second Number .."
      [(ngModel)]="num4"
      (input)="add2()"
    />
  </div>
  <div class="toolbar">
    <input
      type="number"
      class="form-control"
      placeholder="sum"
      [(ngModel)]="sum2"
    />
    <button type="button" class="btn btn-secondary" (click)="clear2()">
      Clear
    </button>
  </div>
</div>

<br />
<br />
<br />
<br />

<div class="container">
  <a
    role="button"
    class="btn btn-primary"
    [href]="google"
    *ngIf="showGoogleButton"
  >
    Go to Google
  </a>

  <button
    type="button"
    class="btn btn-success"
    [disabled]="button"
    (click)="toogleGoogleButton()"
  >
    Toogle Google Button
  </button>
</div>

<div class="container">
  <a
    role="button"
    class="btn btn-primary"
    [href]="google"
    *ngIf="shouldDisplayGoogleButton()"
  >
    Go to Google
  </a>

  <button
    type="button"
    class="btn btn-success"
    [disabled]="button"
    (click)="toogleGoogleButton()"
  >
    Toogle Google Button
  </button>

  <input
    type="text"
    class="form-control"
    placeholder="Your Name Here .."
    [(ngModel)]="codeName"
  />
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let fruit of fruits; let i = index">
      {{ i + 1 }} -> {{ fruit }}
    </li>
  </ul>
</div>
